.button {
    -fx-base: dimgray; -fx-focus-color: #039ED3; -fx-faint-focus-color: #039ED322;
}

.choice-box {
    -fx-background-color: blue;
}

.panel {
    -fx-background-color: black;
}

.menuBar {
    -fx-border-style: solid; -fx-border-width: 0 0 1 0; -fx-border-color: dimgray;
    -fx-background-color: black; -fx-focus-color: #039ED3; -fx-faint-focus-color: #039ED322;
}