.button {
    -fx-base: #ABD8ED; -fx-focus-color: #039ED3; -fx-faint-focus-color: #039ED322;
}

.choice-box {
    -fx-background-color: red;
}

.panel {
    -fx-background-color: green;
}

.menuBar {
    -fx-border-style: solid; -fx-border-width: 0 0 1 0; -fx-border-color: dimgray;
    -fx-background-color: silver; -fx-focus-color: #039ED3; -fx-faint-focus-color: #039ED322;
}
