.button {
    -fx-base: rgba(153,255,153,1); -fx-focus-color: #rgba(0,77,0,1); -fx-faint-focus-color: #f0f0f0;
}

.choice-box {
    -fx-background-color: rgba(153,255,153,1);
}

.panel {
    -fx-background-color: rgba(0,128,0,1);
}

.camera {
    -fx-background-color: rgba(0,128,0,0.5);
}

.menuBar {
    -fx-border-style: solid; -fx-border-width: 0 0 1 0; -fx-border-color: dimgray;
    -fx-background-color: #bdbdbd; -fx-focus-color: #ffffff; -fx-faint-focus-color: #f0f0f0;
}