.button {
    -fx-base: #379683; -fx-focus-color: #05386B; -fx-faint-focus-color: #05386B22;
}

.choice-box {
    -fx-background-color: #379683;
}

.panel {
    -fx-background-color: #5CDB95;
}

.camera {
    -fx-background-color: #05386B22;
}

.menu-bar {
    -fx-background-color: #379683; -fx-focus-color: #05386B; -fx-faint-focus-color: #05386B22;
}

.menu:hover {
    -fx-background-color: #05386B;
}

.menu-item {
    -fx-background-color: #379683; -fx-focus-color: #05386B; -fx-faint-focus-color: #05386B22;
}